@import 'variables';
@import 'mixins';


.section-company-top{
    background: $white;
    font-family: Roboto;

    .breadcrumbs{
        font-size: 0.83rem;
        background: $gray-background;
        padding-top: 16px;
    }
    .page-title{
        background: $gray-background;
        border-bottom: 1px solid $gray-border;
        h1{
            font-size: 1.67rem;
            font-weight: bold;
            padding: 16px 0px;
        }
    }
}
.section-company-settings{
    background: $white;;
    min-height: 100%;
    position: relative;

    .section-inner{

        .settings-navigation{
            padding: 1rem;
            min-height: 100%;
            position: relative;

            .settings-company-logo{
                width: 220px;
                height: 220px;
                border: 1px solid $gray-border;
                background: $white;
                text-align: center;
                line-height: 220px;

                img{
                    max-width: 220px;
                    max-height: 220px;
                    margin: auto;

                }
            }
            .settings-company-menu{

                ul{
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                    li{
                        a{
                            color: $black;
                            display: block;
                            background: $gray-background;
                            width: 220px;
                            border-left: 1px solid $gray-border;
                            border-right: 1px solid $gray-border;
                            border-bottom: 1px solid $gray-border;
                            padding: .5rem 1rem;

                            i{
                                display: inline-block;
                                width: 24px;
                                text-align: center;
                            }
                        }
                        a:hover{
                            background: $gray-background-darker;
                        }
                    }
                }
            }

        }
        .settings-content{
            padding: 1rem;
            background: $white;
            width: 100%;
            position: relative;
            min-height: 100%;
            border-left: 1px solid $gray-border;
            margin-bottom: 2rem;
            
            .settings-box{
                width: 100%;
                border: 1px solid $gray-border;
                margin-bottom: 1rem;
                
                .settings-box-header{
                    background: $gray-background;
                    border-bottom: 1px solid $gray-border;
                    padding: .5rem 1rem;
                    text-transform: uppercase;
                    font-weight: 800;
                }
                .settings-box-body{
                    padding: 1rem;
                    table{
                        th,td{
                        }
                    }
                }
                .settings-box-footer{
                    padding: .5rem 1rem;
                    border-top: 1px solid $gray-border;
                }
            }
        }
    }
}
.section-company-settings:before{
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    background: $primary-sidebar-bg;
    content: " ";
    top: 0px;
}
