@import 'variables';
@import 'mixins';
* {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    outline: none !important; }

body {
    color: #333;
    margin: 0px;
    padding: 0px;
    padding-top: 62px;
    font-size: 0.92rem;
    position: relative;
    clear: both;
    min-height: 100vh;
    font-family:Montserrat,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

.page-content {
    font-size: 0.92rem;
    color: $gray-dark;
}

a:hover {
    text-decoration: none;
}

.header {
    .navbar {
        background: $primary-blue;
        color: $primary-yellow;
        height: 62px;
        display: inline-block;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        letter-spacing: -1px;
        padding: 0px;

        //img
        .nav-logo {
            margin-top: -0.5rem;
            height: 24px;
            display: block;
        }

        //ul
        .navbar-nav {
            background: $primary-blue;
            padding: 10px;

            //li
            .nav-item {
                display: inline-block;
                clear: both;
                white-space: nowrap;
                //a
                .nav-link {
                    width: 100%;
                    color: $white;
                    display: inline-block;
                    line-height: 1.5;
                    text-transform: uppercase;
                    font-weight: 500;
                    cursor: pointer;
                    font-size: 1rem;
                    letter-spacing: 0px;

                    *{
                        color: $white;
                    }
                }
                .nav-link:hover {
                    color: $primary-yellow;
                }
                .dropdown-menu {
                    margin-top: 0px;
                    border-radius: 0px;
                    border: none;
                    padding: 0px;
                    background: $primary-light-yellow;
                    width: 100%;

                    .dropdown-item {
                        padding: 12px 20px;
                        background: $primary-light-yellow;
                        color: $primary-blue;
                    }
                    .dropdown-item:hover {
                        background: $primary-lighter-yellow;
                    }
                }
            }
            .nav-item.dropdown.show{
                background: $primary-light-yellow;
                .nav-link{
                    color: $primary-blue;
                }
            }
        }
        .navbar-search-button{
            position: relative;
            color: #fff;
            margin-top: 0.3rem;
            width: 48px;
            height: 48px;
            @include border-radius(48px);
            background: transparent;
            border: none;
            font-size: 22px;
            padding: 0px;
        }
        .navbar-search-button *{
        }
        .navbar-search {
            background: $primary-blue;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            margin-top: 0;
            position: absolute;
            right: 0; 
            visibility: hidden;

            .nav-search {
                margin: 10px;
                padding: 8px;
                padding-right: 32px;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                background: url("../../../img/icon-search-white-with-margin.png?asdf");
                background-position: right;
                background-repeat: no-repeat;
                background-size: 24px;
                color: $white;
            }
        }
        .primary-menu-2 {
            right: 5rem;
            position: absolute;
        }
        .dropdown-switch-country {
            position: absolute;
            right: 1em;
            background: #ffc11a;
            -webkit-appearance: none;
            -webkit-border-radius: 0px;
            border-radius: 92px;
            border: none;
            width: 48px;
            height: 48px;
            font-size: 14px;
            font-weight: bold;
            padding-left: 14px;
            margin-top: 4px;
        }
    }
}

.banner {
    background: rgba(0, 36, 58, 0.7);
    height: 360px;
}

.content {}

.footer {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;

    .footer-nav {
        padding: 48px 0px 24px 0px;
        background: $primary-blue;
        bottom: 0px;
        .footer-nav-title {
            color: $white;
            font-size: 125%;
            margin-bottom: 16px;
        }
        .footer-nav-list {
            list-style: none;
            margin: 0px;
            padding: 0px;
            margin-bottom: 24px;
            li a {
                color: $gray;
            }
            li a:hover {
                color: $primary-yellow;
                text-decoration: none;
            }
        }
        .footer-nav-social {
            a {
                display: inline-block;
                height: 36px;
                width: 36px;
                padding: 6px 0px;
                text-align: center;
                font-size: 1rem;
                margin-right: 8px;
                background: $gray;
                border-radius: 64px;
                color: $white;
            }
            a:hover {
                background: $primary-light-blue;
            }
        }
    }
    .footer-copyright {
        background: $primary-dark-blue;
        color: $white;
        padding: 16px;
        * {
            text-align: center;
        }
        .footer-copyright-list {
            margin: 0px;
            padding: 0px;
            text-align: left;

            ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
                display: inline-block;
                li {
                    float: left;
                    margin-right: 16px;
                    margin: 0px 8px;
                    a {
                        color: $gray;
                    }
                    a:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}

//GENERAL STYLE OUTSIDE THE ELEMENTS ABOVE
.navbar-toggler-right {
    color: white;
    font-size: 3rem;
    margin-right: -24px;
}

.clear {
    clear: both;
}

.yellow-color {
    color: $primary-yellow;
}

.btn {
    border-radius: 3px;
    font-size: 0.83rem;
    font-weight: normal;
}

.btn-primary {
    color: $primary-blue;
    background: $primary-light-yellow;
    border: 1px solid $primary-yellow;
    font-weight: bold;
}

.btn-primary:hover {
    color: $primary-blue;
    background: $primary-yellow;
    border: 1px solid $primary-yellow;
}

.btn-primary-orig {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-primary-orig:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}

.btn-company-contact{
    margin-top: 1rem;
    font-size: 1rem;
    min-width: 200px;
}

.page-item.active .page-link {
    color: $white;
}

.page-item.active .page-link:hover {
    color: $white;
}

.collapse.show, .collapsing {
    margin-top: 12px;

    .nav-link{
        padding: 0.5em 1em;
    }
    .navbar-search{
        margin-top: -1px !important;
        position: absolute;
        left: 0px;
    }
    .nav-search{

    }
    .primary-menu-2 {
        width: 100%;
        margin-top: 0px;  
        position: relative;
        left: 0;
    }
    .navbar-search-button{
        right: 4rem;
        color: $primary-blue;
        background: $primary-yellow;
        -webkit-appearance: none;
        border-radius: 92px;
        border: none;
        width: 48px;
        height: 48px;
    }
    .navbar-search-button, .dropdown-switch-country{
        z-index: 10;
        margin-top: 0.3rem !important;
        position: fixed;
    }
}

h1 {
    font-size: 1.83rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.33rem;
}

h4 {
    font-size: 1.33rem;
}

h3#comments{
    padding: 16px;
    font-weight: 500; 
}
.commentlist{
    list-style: none;
    margin: 0;
    padding: 16px;

    .comment-body{
        margin-bottom: 16px;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        padding: 16px;

        .comment-author{
            margin-bottom: 8px;
        }
        .comment-meta{
            margin-bottom: 8px;
            font-size: .75rem;
        }
        .reply{
        }
    }

    ul{
        list-style: none;
    }
}

.comment-respond{
    padding: 16px;

    input[type=text], input[type=password]{
        padding: 8px;
    }

    input[type=text], input[type=password], textarea{
        width: 100%;
    }

    input[type=submit],button{
        padding: 8px 16px;
        background: $primary-light-blue;
        border: 1px solid $primary-blue;
        color: #fff;
    }
}
.padding-bottom{
    padding-bottom: 24px;
}

.tsi{
    display: inline-block;
    margin-right: 6px;
    background-repeat: no-repeat;
}

.tsi-arrow-right{
    background: url("../../../img/icon-company-right-arrow.png");
    width: 24px;
    height: 14px;
}

.tsi-map-marker{
    background: url("../../../img/icon-company-map-marker.png");
    background-size: 10px;
    height: 14px;
    min-width: 10px;
}

.tsi-employee{
    background: url("../../../img/icon-company-employees.png");
    background-size: 15px;
    height: 14px;
    min-width: 15px;
}

.tsi-hourly-rate {
  background: url("../../../img/icon-company-cc.png") no-repeat;
    background-size: 18px;
    height: 14px;
    min-width: 18px; }

.tsi-budget-project {
  background: url("../../../img/icon-company-money-bag.png") no-repeat;
  background-size: 18px;
  height: 23px;
  min-width: 18px; }

.tsi-client-focus {
  background: url("../../../img/icon-company-client-focus.png") no-repeat;
  background-size: 22px;
  height: 22px;
  min-width: 22px; }

.tsi-industry-focus {
  background: url("../../../img/icon-company-industry-focus.png") no-repeat;
  background-size: 22px;
  height: 22px;
  min-width: 22px; }

#see-more{
    cursor: pointer;
}

/* TYPEWRITE HOME HEADER */
.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
    margin: 0px !important;
    padding: 0px !important;
}
.cd-headline.type .cd-words-wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
    color: #0d0d0d;
}
.cd-headline.type .cd-words-wrapper i {
    text-transform: none;
    font-style: normal;
}
.cd-headline.type b {
    visibility: hidden;
}
.cd-headline.type b.is-visible {
    visibility: visible;
}
.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

/* END OF TYPEWRITE HOME HEADER */

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 100px;
    right: 10px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(255, 193, 26, 0.8) url('assets/img/back-up.png') no-repeat center 50%;
    background-size: 25%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

@media screen and (max-width: 992px) {
    body{
        padding-bottom: 640px;
    }
    .header {
        .navbar {
            .nav-logo {
                margin-top: 0.5rem;
                margin-left: 1rem;
            }
            .navbar-toggler-right{
                margin-right: -0.5rem;
            }
            .toggler-company-filter{
                margin-right: 3rem;
                transform: rotate(90deg);
            }
        }
    }
    .footer{
        text-align: center;
    }
}

@media screen and (min-width: 993px) {
    body{
        padding-bottom: 281px;
    }
    .footer{
        text-align: left;
    }
}
