$primary-blue: #00243a;
$primary-dark-blue: #001926;
$primary-light-blue: #004976;
$primary-lighter-blue: #0092eb;
$primary-lightest-blue: #67c5ff;
$primary-title-blue: #0066aa;

$primary-yellow: #ffc11a;
$primary-dark-yellow: #f4b200;
$primary-light-yellow: #ffd150;
$primary-lighter-yellow: #ffdc72;

$white: #ffffff;

$gray: #818181;
$gray-dark: #666666;
$gray-light: #b3b3b3;
$gray-lighter: #cccccc;
$gray-background: #f6f6f6;
$gray-background-darker: #efefef;
$gray-text: #666666;
$gray-border: #cdcdcd;
$black: #000000;

$primary-sidebar-bg: #e6eaed;

$sidebar_title: #4c6675;
$secondary_sidebar_title: #88959c;
